@font-face {
    font-family: 'LuckiestGuy';
    src: url('fonts/LuckiestGuy-Regular.ttf') format("truetype");
}

body {
    background-color: lightskyblue;
    font-family: 'LuckiestGuy';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/3. Background/Legacy/Dark/1.png');
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 3em;
    color: #fcee21;
}

#canvasBox {
    position: relative;
}

canvas {
    background-color: black;
}

.btn {
    cursor: pointer;
    width: 200px;
}

.startBtn {
    margin-top: 200px;
}

#tryAgainBtn {
    margin-top: 200px;
    position: absolute;
    top: 130px;
    left: 260px;
    height: 80px;
    opacity: 0;
}

.fullScreenBtn {
    margin-top: 32.160px;
}

.screen {
    width: 720px;
    height: 480px;
    background: url('img/3. Background/Mesa de trabajo 1.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}