@font-face {
    font-family: 'LuckiestGuy';
    src: url('fonts/LuckiestGuy-Regular.ttf') format("truetype");
}

body {
    background-color: lightskyblue;
    font-family: 'LuckiestGuy';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/3. Background/Legacy/Dark/1.png');
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 3em;
    color: #531a82;
    letter-spacing: 3px;
}

#canvasBox {
    position: relative;
}

canvas {
    background-color: black;
}

.btn {
    cursor: pointer;
    width: 200px;
}

.startBtn {
    margin-top: 200px;
}

#tryAgainBtn {
    margin-top: 200px;
    position: absolute;
    top: 130px;
    left: 260px;
    height: 80px;
    opacity: 0;
}

.gamePlayBox {
    display: flex;
    justify-content: space-between;
    width: 720px;
    height: 50px;
    margin-top: 32.160px;
}

.gamePadImg {
    height: 40px;
    cursor: pointer;
}

.screen {
    width: 720px;
    height: 480px;
    background: url('img/3. Background/Mesa de trabajo 1.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controllerBox {
    position: absolute;
    width: 720px;
    height: 480px;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.6); 
}

.keys {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.move {
    margin-top: 32px;
}

.keys img {
    height: 80px;
    width: auto;
}

.keys img:nth-of-type(2) {
    height: 30px;
}

.keys span {
    color: white;
}

.bubbleAttack > img:first-of-type {
    height: 50px;
}

.bubbleAttack > img:last-of-type {
    height: 150;
}

.slapAttack > img:first-of-type {
    height: 50px; 
    width: 150px;
}

.spBubbleAttack > img:first-of-type {
    height: 50px;
}

.spBubbleAttack > img:last-of-type {
    height: 100px;
}

.spBubbleAttack > span {
    font-size: 30px;
}

.spBubbleAttack > span:first-of-type {
    border: 3px solid white;
    padding: 8px 16px;
    border-radius: 15px;
    background-color: #7fffe0;
    color: #542385
}

.closeRow {
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    color: white;
    font-size: 30px;
    margin-top: 16px;
    margin-right: 32px;
    cursor: pointer;
}

#volumeSettingsBox {
    display: flex;
}

.volSettings {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
}

.volBtns {
    cursor: pointer;
}